{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "printWidth": 143,
  "proseWrap": "always",
  "bracketSpacing": true,
  "arrowParens": "avoid"
}