[tool.poetry]
name = "span"
version = "1.0.6"
description = "Span Panel Custom Integration for Home Assistant"
authors = ["SpanPanel"]
license = "MIT"
readme = "README.md"
package-mode = false

[tool.poetry.dependencies]
python = ">=3.13.0"
httpx = "^0.28.1"


[tool.poetry.dev-dependencies]
ruff = "^0.6.4"
isort = "^5.13.2"
mypy = ">=1.4.0"
bandit = "^1.7.4"
pre-commit = ">=4.1.0,<5.0.0"
pydantic = "^2.9.1"
voluptuous = ">=0.15.2"
voluptuous-stubs = "^0.1.1"
python-direnv = "^0.2.2"
httpx = ">=0.26.0"

[tool.poetry.group.dev.dependencies]
pre-commit = "^4.1.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.jscpd]
path = ["custom_components/span_panel", "./*.{html,md}"]
format = ["python", "javascript", "json", "markup", "markdown"]
ignore = "custom_components/span_panel/translations/**|**/translations/**|.github/**|env/**|**/site-packages/**|**/.direnv/**"
reporters = ["console"]
output = "./jscpdReport"
gitignore = true

[tool.mypy]
python_version = "3.13"
platform = "linux"
show_error_codes = true
follow_imports = "normal"

# Type checking settings
strict_equality = true
no_implicit_optional = true
warn_incomplete_stub = true
warn_redundant_casts = true
warn_unused_configs = true
local_partial_types = true
check_untyped_defs = true
disallow_incomplete_defs = true
disallow_subclassing_any = true
disallow_untyped_calls = true
disallow_untyped_decorators = true

# Package handling
explicit_package_bases = true
namespace_packages = true
packages = ["custom_components.span_panel"]
mypy_path = "."

# Exclude patterns
exclude = [
    "venv/.*",
    ".venv/.*",
    "scripts/.*"
]

# Error codes
enable_error_code = [
    "deprecated",
    "ignore-without-code",
    "redundant-self",
    "truthy-iterable",
    "mutable-override"
]
disable_error_code = [
    "annotation-unchecked",
    "import-not-found",
    "import-untyped",
    "override",
    "misc",
]

[tool.pydantic-mypy]
init_forbid_extra = true
init_typed = true
warn_required_dynamic_aliases = true
warn_untyped_fields = true

