{
    "python.autoComplete.extraPaths": [
        "${env:HA_CORE_PATH}"
    ],
    "python.analysis.extraPaths": [
        "${env:HA_CORE_PATH}"
    ],
    "files.associations": {
        "*.yaml": "home-assistant"
    },
    "git.enabled": true,
    "git.autofetch": true,
    "git.confirmSync": true,
    "git.enableSmartCommit": true,
    "git.postCommitCommand": "sync",
    "git.showActionButton": {
        "commit": true,
        "publish": true,
        "sync": true
    },
    "git.branchProtection": ["main", "master"],
    "git.branchProtectionPrompt": "alwaysPrompt",
    "git.fetchOnPull": true,
    "git.pruneOnFetch": true,
    "git.supportCancellation": true,
    "python.analysis.typeCheckingMode": "basic",
    "python.analysis.diagnosticMode": "workspace",
    "python.analysis.inlayHints.functionReturnTypes": true,
    "python.analysis.inlayHints.variableTypes": true,
    "editor.autoClosingBrackets": "never",
    "editor.acceptSuggestionOnEnter": "off",
    },
    "python.defaultInterpreterPath": "${workspaceFolder}/venv/bin/python",
    "python.terminal.activateEnvironment": true,
    "terminal.integrated.defaultProfile.osx": "zsh",
    "terminal.integrated.profiles.osx": {
        "zsh": {
            "path": "/bin/zsh",
            "args": ["-l"]
        }
    }
}
